.carousel-wrapper {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(148, 163, 184, 0.4);
  background: #020617;
}

.carousel-slide img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
