.section {
    min-height: 100vh;
  }
  
  .sectionDark {
    background: linear-gradient(181.2deg, rgb(12, 52, 131) 10.5%, rgb(254, 254, 254) 86.8%);
    color: #fff;
  }
  
  .sectioncontent {
    max-width: 90vw;
    margin: 0 auto;
    padding: 40px; /* Estimando que el theme.spacing(5) se traduce en 40px */
  }
  
  .sectioncontent h3 {
    font-size: 2rem;
  }
  
  .carousel{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }

  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
  }

  .info span{
    margin-top: .5rem;
    font-size: 10px;
    color: #ccd1d1;
  }
  .grid {
    margin-top: 80px; /* Estimando que theme.spacing(10) se traduce en 80px */
  }
  
  .card {
    max-width: 345px;
    min-height: 275px;
    margin: 24px; /* Estimando que theme.spacing(3) se traduce en 24px */
    transition: 0.5s;
  }
  
  .card:hover {
    max-width: 400px;
    min-height: 300px;
  }
  
  .caratura {
    height: 0;
    padding-top: 56.25%;
  }
  
  .icon {
    color: black;
    transition: 0.5s;
  }
  
  .icon:hover {
    cursor: pointer;
    height: 30px;
  }

  .buttonGithub{
    /* background: 
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%) border-box; */
        background: transparent;
      color: #313149;
      padding: 8px 18px;
      border: 2px solid #fff;
      border-radius: 40px;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      cursor: pointer;
  }

  .buttonGithub:hover{
    transition: 0.3s;
    transform: scale(1.1);
  }

  .buttonGithub span{
    text-decoration: none;
    margin: auto;
    margin-right: 1rem;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
  }

  .iconGithub{
    color: #fff;
  }

  

  .buttonDeploy{
      background: linear-gradient(90deg, rgb(255, 157, 129) 24.3%, rgb(255, 78, 78) 78.3%);
      padding: 8px 18px;
      border: none;
      border-radius: 40px;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      cursor: pointer;
  }
  .buttonDeploy:hover{
    transition: 0.3s;
    transform: scale(1.1);
  }
  .buttonDeploy span{
    text-decoration: none;
    margin: auto;
    margin-right: 1rem;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
  }

  .iconDeploy{
    color: #fff;
    width: 20px;
  }
  