.section {
    min-height: 100vh;
  }
  
  .sectiondark {
    background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
    color: #fff;
  }
  
  .sectioncontent {
    max-width: 80vw;
    margin: 0 auto;
  }
  
  .sectioncontent h3 {
    font-size: 2rem;
  }
  