.section {
    height: auto;
    width: 100%;
    padding: 1rem 0;
    background: linear-gradient(359.3deg, rgb(162, 182, 223) 1%, rgba(222, 214, 214, 0) 70.9%); 
 }

  h1{
    color: #34495e;
    margin-top: 1rem;
  }
 
  .sectioncontent {
    width: 80%;
    margin: 0 auto;
    padding-top: 6rem;
  }
  .sectioncontent h3 {
    font-size: 2rem;
  }

  .icon {
    display: flex;
  }

  .iconButton {
    height: 50px;
    width: 50px;
    border: 1px solid #1f6f78;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iconButton:hover{
    transition: 0.3s;
    transform: scale(1.1);
  }

  .iconSocial{
    margin-top: 2px;
    width: 25px;
  }

  .card {
    display: flex;
    margin: 3rem 0; 
    position: relative;
    display: flex;
    align-items: center;
  }

  .picture{
    border-radius: 50%;
    border:  .5rem solid #fefdfd;
    height: 20rem;
    width: 20rem;
  }

  .cardMedia {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover; 
  }

  .column{
    margin: 1rem 0;
  }

  .column span{
    color: #003333;
    font-weight: 400;
    text-align: justify;
    display: flex;  
  }
  .cardContent { 
    margin-left: 2rem;
    padding: 1rem;
    border-left: 1px solid #bfc9ca;
  }
  
  .row{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .pdfButton { 
    display: flex;   
    border: 0;
    border-radius: .6rem; 
    background-color: tomato;
    padding: 15px 24px 15px 24px; 
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    color: #fff;
    cursor: pointer;
    margin-left: -8px;
  }
  
  .pdfButton:hover {
    color: #fae5d3;
    transition: 0.3s;
    transform: scale(1.05);
  }
  
  .pdfButton a {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    margin-right: 10px;
  }
  
  .pdfButton a:hover {
    color: #fae5d3;
  }

  .typeWriter{
    display: none;
  }

  .span{
    display: none;
  }

  .button {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #003366;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.1); 
  }
  
  .button:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

 @media(max-width: 950px){
  .card {
    flex-direction: column;
    margin: 3rem 0; 
    position: relative;
    display: flex;
    align-items: center;
  }
  h1{
    color: #34495e;
    margin-top: 1rem;
    text-align: center;
  }
  .header{
    display: flex;
    align-items: end;
  }
  .picture{
    border:  .4rem solid #fefdfd;
    height: 18rem;
    width: 18rem;
  }
  .cardMedia {
    width: 18rem;
    height: 18rem;
  }
  .column{
    display: none;
  }
  .typeWriter{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-left: .5rem;
   
  }
  .span{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: end;
    align-items: end;
  }
  .cardContent { 
    margin-left: 0;
  }
 }

 @media(max-width: 800px){
  .picture{
    border: .4rem solid #fefdfd;
    height: 15rem;
    width: 15rem;
  }
  .cardMedia {
    width: 15rem;
    height: 15rem;
  }
 }

 
 @media(max-width: 620px){
  .picture{
    border: .4rem solid #fefdfd;
    height: 8rem;
    width: 8rem;
  }
  .cardMedia {
    width: 8rem;
    height: 8rem;
  }
  
  .iconButton {
    height: 45px;
    width: 45px;
    margin-left: .2rem;
  }
  .pdfButton { 
    display: flex;   
    border: 0;
    border-radius: .6rem; 
    background-color: tomato;
    padding: 10px 18px 12px 10px; 
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    color: #fff;
    cursor: pointer;
  }
 }